# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment / secrets
.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak

# Generated logs
outputs/logs/

# Raw audio dataset
data/train/*.wav
data/test/*.wav

!models/peak_detection/peak_params.json
!data/train/label.txt
!data/test/label.txt